@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&family=Roboto+Mono&display=swap');

* {
  /*font-family: "Roboto", sans-serif;*/
  font-family: 'Roboto Mono', monospace;
}

#tabColor{
  position: relative;
  padding: 10px;
  background: rgb(0,128,246);
  background: linear-gradient(0deg, rgba(0,128,246,1) 0%, rgba(255,0,0,1) 100%);
  border-radius: 1rem;
  height: 300px;
  width: 300px;
}

#tabuleiro{
  justify-items: center;
}

#tabuleiro button {
  background-color: rgb(255, 255, 255);
  height: 7rem;
  width: 7rem;
  border: none;
  border-radius: 1rem;
  margin: 3px 5px;
}

#status{
  display: block;
  margin-left: 140px;
  width: 6em
}

.borda-da-vez {
  border: solid #efff3d 4px;
}

@media screen and (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #placar {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  #divPlacarX, #divPlacarO {
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: white;
  }
  #divPlacarX{
    background-color: #1263FF;
  }
  #divPlacarO {
    background-color: #e22929;
  }
  #reiniciar {
    background-color: #00FFFF;
    border: 1px solid gainsboro;
    border-radius: 10px;
    width: 6rem;
    height: 2rem;
    margin-bottom: 15px;
  }
  #tabuleiro {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0.3rem;
    justify-content: center;
  }
  #tabuleiro button {
    height: 5rem;
    width: 5rem;
  }
}

@media screen and (min-width: 750px){
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #placar {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
  }
  #divPlacarX, #divPlacarO {
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    color: white;
  }
  #divPlacarX{
    background-color: #1263FF;
  }
  #divPlacarO {
    background-color: #e22929;
  }
  #reiniciar {
    background-color: #00FFFF;
    border: 1px solid gainsboro;
    border-radius: 10px;
    width: 6rem;
    height: 2rem;
    margin-bottom: 15px;
  }
  #tabuleiro {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0.3rem;
    justify-content: center;
  }
  #tabuleiro button {
    height: 5rem;
    width: 5rem;
  }
}